/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

@layer base {
    .outlined-text {
        text-shadow: 1px 1px 0 #ddd5, 1px -1px 0 #ddd5, -1px 1px 0 #ddd5, -1px -1px 0 #ddd5, 1px 0px 0 #ddd5, 0px 1px 0 #ddd5, -1px 0px 0 #ddd5, 0px -1px 0 #ddd5;
    }
}