<app-section name="home" containerClass="bg-surface px-6 pb-6">
  <div class="flex flex-col-reverse md:flex-row items-center">
    <div class="flex-1 flex flex-col gap-3">
      <p class="text-4xl md:max-w-[18ch] leading-normal font-semibold text-foreground" [innerHTML]="'home.title' | translate"></p>
      <p class="text-foreground-light">{{ "home.description" | translate }}</p>
      <div>
        <a myButton="cta" class="max-w-fit" [href]="whatsappLink" target="_blank" rel="noopener">
          {{ "home.websiteLikeThis" | translate}}

          <ng-icon name="tablerArrowRight" />
        </a>
      </div>

      <p class="text-foreground flex flex-col md:flex-row gap-5 mt-3">
        <span class="flex gap-1.5 items-center">
          <ng-icon name="tablerDeviceMobile" />
          {{ "home.responsive" | translate}}
        </span>
        <span class="flex gap-1.5 items-center">
          <ng-icon name="tablerWorldSearch" />
          {{ "home.optimizedSeo" | translate}}
        </span>
      </p>
    </div>
    <div class="1">
      <img src="assets/luz-render.png" class="w-full" />
    </div>
  </div>
</app-section>
