<nav [class]="sizeStyling()" class="bg-slate-900/75 backdrop-blur-sm flex items-center justify-between px-8 py-4 transition-all">
  <img class="h-16 w-16 rounded-full transition-all" [class]="logoStyling()" src="assets/icons/android-chrome-192x192.png" alt="Foto de perfil">
  <ul class="md:flex flex-row gap-4 h-full justify-center hidden">
    @for (item of navItems; track item; let i = $index) {
      <li app-navigation-button
          [title]="item.title"
          [href]="item.href"
          [selected]="selected() == i"
          (press)="changeSelectedSection(i)"></li>
    }
  </ul>
</nav>
